---
import { TitleCard, ServiceCard } from "@lib";
import servicios from "@services";
---

<script>
    window.addEventListener('load', () => {
        const servicios = document.getElementById('servicios')
        const cards = document.getElementById('container-cards')
    
        function esVisible(){
            let rect = servicios?.getBoundingClientRect()
            if (rect) {
                // Chequear si la mitad del contenedor es visible en la ventana
                let windowHeight = window.innerHeight || document.documentElement.clientHeight;
                let middleOfContainer = rect.top + rect.height / 2;
                return middleOfContainer <= windowHeight && middleOfContainer >= 0;
            }  
            return false;
        }
    
        function handleScroll(){
            if(esVisible()){
                cards?.classList.add('cards-visible')
            }
        }
    
        window.addEventListener('scroll', handleScroll)
    
        handleScroll()
    })
</script>

<section class="services" id="servicios">
    <div class="content">
        <div class="content-title" id="container-title">
            <TitleCard title='Nuestros Servicios' side='left'/>
        </div>
        <div class="cards" id="container-cards">
            {servicios.map(servicio => 
                <ServiceCard 
                    src={servicio.src} 
                    alt={servicio.alt}
                    title={servicio.title}
                    text={servicio.text}
                    has_transition={servicio.has_transition}
                    transition:name={servicio.transition_name}
                />
            )}
        </div>
    </div>
</section>

<style>
    .services{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 20px;
        background: var(--title);
        overflow-x: hidden;
    }

    .content{
        max-width: 1480px;
        display: flex;
        column-gap: 20px;
    }

    .cards{
        flex: 1;
        display: flex;
        justify-content: space-between;
        column-gap: 15px;
        opacity: 0;
        transform: translateX(800px);
    }

    .cards-visible{
        opacity: 1;
        transform: translateX(0);
        transition: 1s
    }

    @media screen and (max-width: 1200px) and (min-width: 1024px){
        .content{
            display: flex;
            flex-direction: column;
            row-gap: 20px;
        }
    }

    @media screen and (max-width: 1023px){
        .services{
            padding: 40px 0; 
            flex-direction: column;
        }

        .content{
            flex-direction: column;
            row-gap: 20px;
        }

        .cards{
            padding: 0 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            row-gap: 20px;
        }
    }

</style>